@model Entidad.Marca
<div class="modal fade" id="modal_edit_marca" role="dialog" aria-hidden="true" data-bs-backdrop="static">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <form id="editMarcaForm" asp-area="Mantenimiento" asp-controller="Marca" asp-action="EditMarca" method="post">
                @Html.AntiForgeryToken()
                <input type="hidden" id="IdMarca" name="IdMarca" asp-for="IdMarca" />
                <input type="hidden" id="Fecha" name="Fecha" asp-for="FechaRegistro" />
                <div class="modal-header bg-blue text-white">
                    <h5 class="modal-title"><i class="fa-solid fa-circle-user"></i> Editar Marca</h5>
                    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="close"></button>
                </div>
                <div class="modal-body">
                    <label><strong>ID:</strong> @Model.IdMarca</label>
                    <div class="form-group">
                        <label><strong>Descripcion:</strong></label>
                        <input id="Descripcion" name="Descripcion" asp-for="Descripcion" class="form-control form-control-user" placeholder="Ingresar la descripcion" name="Descripcion" />
                    </div>
                    <div class="form-group">
                        <label><strong>Activo:</strong></label>
                        <input id="Activo" name="Activo" type="checkbox" asp-for="Activo" />
                    </div>
                    <div class="row mt-2">
                        <div class="col-12">
                            <div id="mensajeError" class="alert alert-danger" role="alert" style="display: none;">
                                <!-- Los mensajes de error se mostrarán aquí -->
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" id="saveChanges" class="btn btn-secondary">Guardar cambios</button>
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal" aria-label="Close">Cerrar</button>
                </div>
            </form>
        </div>
    </div>
</div>